data/pipeline/ProcessBlobs.json
{
	"name": "ProcessBlobs",
	"properties": {
		"activities": [
			{
				"name": "LookupProcessablBlobData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]"
					},
					"dataset": {
						"referenceName": "ProcessedBlobDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachRecord",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupProcessablBlobData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "SetBlobPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobPath",
								"value": "@{item().Path}"
							}
						},
						{
							"name": "SetBlobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobName",
								"value": "@{item().BlobName}"
							}
						},
						{
							"name": "SetContainer",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetBlobPath",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetBlobName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "container",
								"value": "@substring(item().Path, 0, indexof(item().Path, item().BlobName))"
							}
						}
					]
				}
			}
		],
		"variables": {
			"blobName": {
				"type": "String"
			},
			"blobPath": {
				"type": "String"
			},
			"container": {
				"type": "String"
			}
		},
		"annotations": []
	}
}